.navbar{
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);

    display: flex;
    align-items: center;
    justify-content: flex-end;

    padding: 5px 20px;
    margin: 0px 0px 30px 0px;
}

.links{
    a{
        text-decoration: none;
        padding: 5px 15px;

        &:hover{
            text-decoration: underline;
        }
    }
}