.app.light{
    --bg-color: #ffffff;
    --inverted-bg-color: #2e2e2e;
    
    --primary-color: #2b2b2b;
    --secondary-color: #888888;

    --inverted-primary-color: #ffffff;
    --inverted-secondary-color: #ffffff;
}